body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #161512;
}

.chessBoard {
    width: 100vw;
    height: 100vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    
}

.square {
    width: 12.5%;
    height: 12.5%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.white {
    background-color: #f0d9b5;
}

.black {
    background-color: #b58863;
}

.coordinate{
    height: auto;
    display: flex;
    bottom: 4%;
    left: 4%;
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rank {
    top: 4%;
    right: 4%;
    left: auto;
}

.whiteText {
    color: #f0d9b5;
}

.blackText {
    color: #b58863;
}

.piece {
    width: 100%;
    z-index: 1;
    cursor: pointer;
}

.piece img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.promotion-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    z-index: 1000;
    display: flex;
    gap: 10px;
}

    .promotion-modal button {
        padding: 10px;
        font-size: 16px;
        cursor: pointer;
    }


@media (min-width:600px) {
    .chessBoard {
        width: 600px;
        height: 600px;
    }
}

@media (max-width:600px) {
    .coordinate {
        font-size: 8px;
    }
}

@media (min-width: 800px) {
    .chessBoard {
        width: 750px;
        height: 750px;
        margin-left: 250px;
    }
}

.restart {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    position: absolute;
    left: 1050px;
    top: 100px;
}

.restart:hover {
    letter-spacing: 3px;
    background-color: rgb( 181 136 99);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(181 136 99) 0px 7px 29px 0px;
}

.restart:active {
    letter-spacing: 3px;
    background-color: rgb( 181 136 99);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(181 136 99) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

.save {
    padding: 17px 40px;
    border-radius: 50px;
    width: 214.7px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    position: absolute;
    left: 1050px;
    top: 170px;
}

    .save:hover {
        letter-spacing: 3px;
        background-color: rgb( 181 136 99);
        color: hsl(0, 0%, 100%);
        box-shadow: rgb(181 136 99) 0px 7px 29px 0px;
    }

    .save:active {
        letter-spacing: 3px;
        background-color: rgb( 181 136 99);
        color: hsl(0, 0%, 100%);
        box-shadow: rgb(181 136 99) 0px 0px 0px 0px;
        transform: translateY(10px);
        transition: 100ms;
    }


.load {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    width: 214.7px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    position: absolute;
    left: 1050px;
    top: 240px;
}

    .load:hover {
        letter-spacing: 3px;
        background-color: rgb( 181 136 99);
        color: hsl(0, 0%, 100%);
        box-shadow: rgb(181 136 99) 0px 7px 29px 0px;
    }

    .load:active {
        letter-spacing: 3px;
        background-color: rgb( 181 136 99);
        color: hsl(0, 0%, 100%);
        box-shadow: rgb(181 136 99) 0px 0px 0px 0px;
        transform: translateY(10px);
        transition: 100ms;
    }

